<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Coby's Website on Amazon Web Services</title>
    <style>
        .card { 
            margin: auto;
        }
    </style>
</head>

<body>
    
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2673302802911758',
        cookie     : true,
        xfbml      : true,
        version    : 'v5.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     
    function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
    }
  </script>

    {% load static %}
    {% include "header.html" %}
    <div class="container">
        
    <fb:login-button 
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
        <div class="jumbotron text-center bg-secondary">
            <div class="jumbotron bg-primary text-light">
                <h1>Welcome to Coby's SUPER-DUPER website!!!</h1>
                <h2 class="text-warning">Pick a game below</h2>
            </div>
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'images/timestable.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Times Table</h5>
                            <p class="card-text">Practice your multiplication</p>
                            <a href="/timestable" class="btn btn-primary">Play</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item center-block">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'images/gold.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ninja Gold</h5>
                            <p class="card-text">Play a lame counting game</p>
                            <a href="/gold" class="btn btn-primary">Play</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item center-block">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top bg-primary" src="{% static 'images/pacman.gif' %}" alt="Card image cap">
                        <div class="card-body">
                            
                            <h5 class="card-title">PacMan</h5>
                            <p class="card-text">Play a lame version of PacMan!</p>
                            <a href="/pacman" class="btn btn-primary">Play</a>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>    
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>